@tailwind base;
@tailwind components;
@tailwind utilities;
html{
	min-height: 100%;
	position: relative;
}
footer {
	position: absolute;
	bottom: 0;
	
}
body {
	margin: 0;
	padding: 0 0 60px 0;
	
}
.layout {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	// width: 100vw;
	// height: 100vh;
	.input-wrapper{
		@apply w-3/5;
	}
	// .wrapper {
	// 	width: 400 !important;
	// 	@apply border-purple-900 w-4/6 border-solid border-2 m-1 px-2 py-1 rounded-2xl ;
	// }
	.element-card {
		&:hover{
			position: relative;
			top: -2px;
			cursor: pointer;
		}
		
	}
}

